

.nordvpn {
    background-size: 1.2em;
    /* padding: 0 5px; */
}

.connected{
    background-image: url("icons/connected.svg");
}

.disconnected{
    background-image: url("icons/disconnected.svg");
}

.changing{
    background-image: url("icons/changing.svg");
}